<h1>Ata de Registro de Preços <%= @arp.num_arp %></h1>

<p>SEI: <%= @arp.num_sei %></p>
<p>Fornecedor: <%= @arp.supplier.name %></p>
<p>Pregão: <%= @arp.pregao.num_pregao %></p>
<p>Gestor: <%= @arp.manager.name %></p>
<p>Gestor substituto: <%= @arp.manager_sub.name %></p>
<p>Fiscal: <%= @arp.supervisor.name %></p>
<p>Fiscal substituto: <%= @arp.supervisor_sub.name %></p>
